nodered/flujo_riego.json
[
    {
        "id": "flow_riego",
        "type": "tab",
        "label": "Sistema Riego IoT",
        "disabled": false,
        "info": "Sistema de riego inteligente con ML y datos climáticos"
    },
    {
        "id": "mqtt_broker_hivemq",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "3f53469d473648f8a48abff7da04d106.s1.eu.hivemq.cloud",
        "port": "8883",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdb_config",
        "type": "influxdb",
        "hostname": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "port": "443",
        "protocol": "https",
        "database": "riego_iot",
        "name": "InfluxDB Cloud",
        "usetls": true,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
        "rejectUnauthorized": true
    },
    {
        "id": "comment_sensores",
        "type": "comment",
        "z": "flow_riego",
        "name": "📊 RECEPCIÓN DE DATOS DE SENSORES",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "mqtt_in_sensores",
        "type": "mqtt in",
        "z": "flow_riego",
        "name": "📡 Sensores ESP32",
        "topic": "pastizal/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker_hivemq",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [["function_procesar", "function_influx"]]
    },
    {
        "id": "function_procesar",
        "type": "function",
        "z": "flow_riego",
        "name": "⚙️ Procesar datos",
        "func": "var datos = msg.payload;\nflow.set('ultimosDatos', datos);\n\nmsg.sensorData = {\n    humedad_suelo: datos.humedad_suelo,\n    temperatura: datos.temperatura,\n    humedad_ambiente: datos.humedad_ambiente,\n    valvula: datos.valvula,\n    timestamp: new Date().toISOString()\n};\n\nnode.status({fill:\"green\", shape:\"dot\", text: \"Hum: \" + datos.humedad_suelo + \"%\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 80,
        "wires": [["debug_sensores"]]
    },
    {
        "id": "debug_sensores",
        "type": "debug",
        "z": "flow_riego",
        "name": "🔍 Ver datos sensores",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.humedad_suelo",
        "statusType": "msg",
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "comment_influx",
        "type": "comment",
        "z": "flow_riego",
        "name": "💾 GUARDAR EN INFLUXDB",
        "info": "",
        "x": 180,
        "y": 140,
        "wires": []
    },
    {
        "id": "function_influx",
        "type": "function",
        "z": "flow_riego",
        "name": "📦 Preparar para InfluxDB",
        "func": "var datos = msg.payload;\n\nmsg.payload = [\n    {\n        measurement: \"sensores_pastizal\",\n        tags: {\n            ubicacion: \"paute\",\n            dispositivo: \"esp32_01\"\n        },\n        fields: {\n            humedad_suelo: parseFloat(datos.humedad_suelo),\n            temperatura: parseFloat(datos.temperatura),\n            humedad_ambiente: parseFloat(datos.humedad_ambiente),\n            valvula: datos.valvula === \"ON\" ? 1 : 0\n        }\n    }\n];\n\nnode.status({fill:\"blue\", shape:\"dot\", text:\"Enviando a InfluxDB\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 140,
        "wires": [["influxdb_out"]]
    },
    {
        "id": "influxdb_out",
        "type": "influxdb out",
        "z": "flow_riego",
        "influxdb": "influxdb_config",
        "name": "💾 InfluxDB Cloud",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "riego_iot",
        "retentionPolicyV18Flux": "",
        "org": "e94345dd9c8f95c7",
        "bucket": "riego_iot",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "comment_clima",
        "type": "comment",
        "z": "flow_riego",
        "name": "🌤️ CONSULTA API CLIMA (Open-Meteo)",
        "info": "",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "inject_clima",
        "type": "inject",
        "z": "flow_riego",
        "name": "⏰ Cada 30 min",
        "props": [],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 160,
        "y": 280,
        "wires": [["http_clima"]]
    },
    {
        "id": "http_clima",
        "type": "http request",
        "z": "flow_riego",
        "name": "🌤️ Open-Meteo API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.open-meteo.com/v1/forecast?latitude=-2.78&longitude=-78.76&current=temperature_2m,relative_humidity_2m,precipitation&hourly=precipitation_probability,soil_moisture_0_to_1cm&daily=precipitation_sum,precipitation_probability_max&timezone=America/Guayaquil&forecast_days=3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 390,
        "y": 280,
        "wires": [["function_clima"]]
    },
    {
        "id": "function_clima",
        "type": "function",
        "z": "flow_riego",
        "name": "📊 Procesar clima",
        "func": "var clima = msg.payload;\n\nvar datosClima = {\n    temp_actual: clima.current.temperature_2m,\n    humedad_actual: clima.current.relative_humidity_2m,\n    precipitacion_actual: clima.current.precipitation,\n    prob_lluvia_proximas_horas: clima.hourly.precipitation_probability.slice(0, 24),\n    lluvia_proximos_dias: clima.daily.precipitation_sum,\n    prob_lluvia_max_dias: clima.daily.precipitation_probability_max\n};\n\nvar maxProbLluvia24h = Math.max(...datosClima.prob_lluvia_proximas_horas);\ndatosClima.max_prob_lluvia_24h = maxProbLluvia24h;\n\nflow.set('datosClima', datosClima);\n\nmsg.payload = datosClima;\n\nnode.status({fill:\"blue\", shape:\"dot\", text: \"Prob lluvia 24h: \" + maxProbLluvia24h + \"%\"});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [["debug_clima", "function_clima_influx"]]
    },
    {
        "id": "debug_clima",
        "type": "debug",
        "z": "flow_riego",
        "name": "🔍 Ver datos clima",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "function_clima_influx",
        "type": "function",
        "z": "flow_riego",
        "name": "📦 Clima a InfluxDB",
        "func": "var clima = msg.payload;\n\nmsg.payload = [\n    {\n        measurement: \"clima_openmeteo\",\n        tags: {\n            ubicacion: \"paute\",\n            fuente: \"open-meteo\"\n        },\n        fields: {\n            temp_actual: parseFloat(clima.temp_actual),\n            humedad_actual: parseFloat(clima.humedad_actual),\n            prob_lluvia_24h: parseFloat(clima.max_prob_lluvia_24h),\n            precipitacion: parseFloat(clima.precipitacion_actual)\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [["influxdb_out_clima"]]
    },
    {
        "id": "influxdb_out_clima",
        "type": "influxdb out",
        "z": "flow_riego",
        "influxdb": "influxdb_config",
        "name": "💾 Clima a InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "riego_iot",
        "retentionPolicyV18Flux": "",
        "org": "e94345dd9c8f95c7",
        "bucket": "riego_iot",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "comment_ml",
        "type": "comment",
        "z": "flow_riego",
        "name": "🤖 MODELO ML - DECISIÓN DE RIEGO (temporal - reglas)",
        "info": "",
        "x": 250,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject_ml",
        "type": "inject",
        "z": "flow_riego",
        "name": "⏰ Cada 1 min",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "10",
        "topic": "",
        "x": 150,
        "y": 440,
        "wires": [["function_ml"]]
    },
    {
        "id": "function_ml",
        "type": "function",
        "z": "flow_riego",
        "name": "🧠 Modelo ML (Decisión)",
        "func": "var sensores = flow.get('ultimosDatos') || {};\nvar clima = flow.get('datosClima') || {};\n\nif (!sensores.humedad_suelo) {\n    node.status({fill:\"yellow\", shape:\"ring\", text:\"Esperando datos sensores\"});\n    return null;\n}\n\nvar humedad_suelo = sensores.humedad_suelo;\nvar temperatura = sensores.temperatura;\nvar prob_lluvia = clima.max_prob_lluvia_24h || 0;\nvar hora = new Date().getHours();\n\nvar decision = \"NO_REGAR\";\nvar razon = \"\";\nvar confianza = 0;\n\nif (humedad_suelo < 20) {\n    decision = \"REGAR\";\n    razon = \"Suelo crítico (\" + humedad_suelo.toFixed(1) + \"%)\";\n    confianza = 95;\n}\nelse if (humedad_suelo < 35 && prob_lluvia > 70) {\n    decision = \"NO_REGAR\";\n    razon = \"Esperar lluvia (\" + prob_lluvia + \"% prob)\";\n    confianza = 80;\n}\nelse if (humedad_suelo < 40 && temperatura > 25 && prob_lluvia < 40) {\n    decision = \"REGAR\";\n    razon = \"Seco + calor + sin lluvia\";\n    confianza = 85;\n}\nelse if (humedad_suelo < 45 && hora >= 5 && hora <= 8 && prob_lluvia < 50) {\n    decision = \"REGAR\";\n    razon = \"Riego preventivo mañana\";\n    confianza = 70;\n}\nelse if (humedad_suelo >= 45) {\n    decision = \"NO_REGAR\";\n    razon = \"Humedad OK (\" + humedad_suelo.toFixed(1) + \"%)\";\n    confianza = 90;\n}\nelse {\n    decision = \"NO_REGAR\";\n    razon = \"Sin necesidad de riego\";\n    confianza = 60;\n}\n\nvar resultado = {\n    decision: decision,\n    razon: razon,\n    confianza: confianza,\n    inputs: {\n        humedad_suelo: humedad_suelo,\n        temperatura: temperatura,\n        prob_lluvia_24h: prob_lluvia,\n        hora: hora\n    },\n    timestamp: new Date().toISOString()\n};\n\nif (decision === \"REGAR\") {\n    node.status({fill:\"blue\", shape:\"dot\", text:\"💧 REGAR - \" + razon});\n} else {\n    node.status({fill:\"green\", shape:\"dot\", text:\"✋ NO - \" + razon});\n}\n\nmsg.payload = resultado;\nmsg.decision = decision;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 440,
        "wires": [["switch_decision", "debug_ml", "function_decision_influx"]]
    },
    {
        "id": "debug_ml",
        "type": "debug",
        "z": "flow_riego",
        "name": "🔍 Ver decisión ML",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 400,
        "wires": []
    },
    {
        "id": "function_decision_influx",
        "type": "function",
        "z": "flow_riego",
        "name": "📦 Decisión a InfluxDB",
        "func": "var resultado = msg.payload;\n\nmsg.payload = [\n    {\n        measurement: \"decisiones_riego\",\n        tags: {\n            ubicacion: \"paute\"\n        },\n        fields: {\n            decision: resultado.decision === \"REGAR\" ? 1 : 0,\n            confianza: resultado.confianza,\n            humedad_suelo: resultado.inputs.humedad_suelo,\n            temperatura: resultado.inputs.temperatura,\n            prob_lluvia: resultado.inputs.prob_lluvia_24h\n        }\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 480,
        "wires": [["influxdb_out_decision"]]
    },
    {
        "id": "influxdb_out_decision",
        "type": "influxdb out",
        "z": "flow_riego",
        "influxdb": "influxdb_config",
        "name": "💾 Decisión a InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "riego_iot",
        "retentionPolicyV18Flux": "",
        "org": "e94345dd9c8f95c7",
        "bucket": "riego_iot",
        "x": 900,
        "y": 480,
        "wires": []
    },
    {
        "id": "switch_decision",
        "type": "switch",
        "z": "flow_riego",
        "name": "🔀 ¿Regar?",
        "property": "decision",
        "propertyType": "msg",
        "rules": [
            { "t": "eq", "v": "REGAR", "vt": "str" },
            { "t": "eq", "v": "NO_REGAR", "vt": "str" }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 610,
        "y": 440,
        "wires": [["function_preparar_mqtt"], []]
    },
    {
        "id": "function_preparar_mqtt",
        "type": "function",
        "z": "flow_riego",
        "name": "Preparar comando",
        "func": "msg.payload = msg.decision;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 440,
        "wires": [["mqtt_out_prediccion"]]
    },
    {
        "id": "mqtt_out_prediccion",
        "type": "mqtt out",
        "z": "flow_riego",
        "name": "📤 Enviar a ESP32",
        "topic": "pastizal/prediccion",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 990,
        "y": 440,
        "wires": []
    },
    {
        "id": "comment_control",
        "type": "comment",
        "z": "flow_riego",
        "name": "🎮 CONTROL MANUAL",
        "info": "",
        "x": 160,
        "y": 560,
        "wires": []
    },
    {
        "id": "inject_on",
        "type": "inject",
        "z": "flow_riego",
        "name": "💧 ABRIR Válvula",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 170,
        "y": 620,
        "wires": [["mqtt_out_control"]]
    },
    {
        "id": "inject_off",
        "type": "inject",
        "z": "flow_riego",
        "name": "🔴 CERRAR Válvula",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 180,
        "y": 680,
        "wires": [["mqtt_out_control"]]
    },
    {
        "id": "mqtt_out_control",
        "type": "mqtt out",
        "z": "flow_riego",
        "name": "📤 Control válvula",
        "topic": "pastizal/valvula/control",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_hivemq",
        "x": 430,
        "y": 650,
        "wires": []
    }
]